.home-frame {
    position: absolute;
    left: 0;
    right: 0;
}
.home-banner {
    background: url('../../assets/images/shattered.png');
    height: 460px;
}
.home-banner .inner {
    padding: 100px 0;
}
.home-banner .inner img {
    float: left;
    margin-top: -75px;
}
.home-banner .inner h1 {
    line-height: 60px;
    font-size: 40px;
}
.home-banner .inner h1 span {
    color: #3bb9bb;
}
.home-banner .inner h2 {
    font-size: 24px;
    line-height: 30px;
    color: #666;
}
.home-banner .inner p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;
}
.tutorials-title {
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    background-color: #333;
    color: #FFF;
}
.tutorials {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}
.tutorials li {
    background-color: #FFF;
    padding: 20px;
}
.tutorials li p {
    margin: 10px 0 0 0;
    font-size: 16px;
    color: #999;
}
.tutorials li .image {
    width: 120px;
    height: 120px;
    float: left;
    background-color: #E1E1E1;
    margin: 0 20px 0 0;
}
.tutorials li:last-child {
    clear: both;
    font-style: italic;
    background-color: inherit;
    line-height: 30px;
    text-align: center;
}