build
.idea
node_modules
src/components/bar/bar\.ctrl\.js

src/components/show/show\.drct\.js

src/directives/ngEnter\.drct\.js

src/sections/home/home\.ctrl\.js

src/sections/popular/popular\.ctrl\.js

src/sections/premieres/premieres\.ctrl\.js

src/sections/search/search\.ctrl\.js

src/sections/view/view\.ctrl\.js

src/services/page\.val\.js

src/services/show\.fct\.js
