<div class="show-frame">
    <ul class="genres">
        <li data-ng-repeat="genre in genres" class="animate-repeat" data-ng-style="{'background-color': 'rgba(59, 185, 187, ' + genres.length / $index / 5 + ')'}">{{genre.name}}</li>
    </ul>
    <img preload-image default-image="assets/images/loading.jpg" fallback-image="assets/images/fallback.jpg" ng-src="http://image.tmdb.org/t/p/w780/{{show.backdrop_path}}" />
    <div class="date label label-dark"><span class="icon icon-calendar"></span> {{show.first_air_date | amDateFormat:'DD-MM-YYYY'}}</div>
    <h2>{{show.original_name | characters:40}}</h2>
    <div class="inner">
        <ul class="info">
            <li class="col-xs-6 rating"><span class="icon icon-heart3"></span> {{show.vote_average}}</li>
            <li class="col-xs-6 country"><span class="icon icon-earth"></span> <span data-ng-repeat="country in show.origin_country">{{country}}{{$last ? '' : ', '}}</span> <span data-ng-if="show.origin_country.length == 0">--</span></li>
            <div class="clearfix"></div>
        </ul>
        <div class="buttons">
            <a href="#/view/{{show.id}}" class="btn btn-info"><span class="icon icon-arrow-right7"></span> View</a>
        </div>
    </div>
</div>