<div class="view-banner" data-ng-style="view.setBannerImage();"></div>
<div class="view-title">
    <div class="container">
        {{view.show.original_name}} ({{view.show.first_air_date | amDateFormat:'YYYY'}})
        <ul class="pull-right">
            <li><span class="glyphicon glyphicon-star"></span> {{view.show.vote_count}} ({{view.show.vote_average}})</li>
            <li><span class="glyphicon glyphicon-tag"></span> <span data-ng-repeat="genre in view.show.genres">{{genre.name}}{{$last ? '' : ', '}}</span> </li>
            <li><span class="glyphicon glyphicon-info-sign"></span> {{view.show.status}}</li>
        </ul>
    </div>
</div>
<div class="view-container">
    <h2>Show Summary</h2>
    <div class="view-section view-top">
        <div class="poster"><img data-ng-src="http://image.tmdb.org/t/p/w342/{{view.show.poster_path}}" /></div>
        <p>{{view.show.overview}}</p>
        <div class="buttons">
            <a href="{{view.show.homepage}}" target="_blank" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-home"></span> Homepage</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <h2>Seasons</h2>
    <div class="view-section season-container" data-ng-switch="view.show.seasons.length > 0">
        <ul class="season" data-ng-switch-when="true">
            <li data-ng-repeat="season in view.show.seasons">
                <img data-ng-src="http://image.tmdb.org/t/p/w185/{{season.poster_path}}" />
                <div class="season-info">
                    <div class="col-md-2">#{{season.season_number}}</div>
                    <div class="col-md-10">Episode Count: {{season.episode_count}}</div>
                </div>
            </li>
        </ul>
        <p class="no-data" data-ng-switch-when="false">No cast information available</p>
    </div>
</div>
